@font-face {
    font-family: 'ReglisseFill';
    src: url('./ReglisseFill-WyWzn.otf');
}

@font-face {
    font-family: 'QueensidesMedium';
    src: url('./QueensidesMedium-x30zV.ttf');
}

html {
    font-size: 12px;
}

html, body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-image: url('purple-wood-texture.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.kuddly-text {
    font-family: "ReglisseFill";
    color: red;
    font-size: 4rem;
}

.large-header {
    font-size: 5rem;
}

body {
    min-height: 100%;
    background-image: url('kuddly-krab.png');
    background-repeat: repeat;
}

nav {
    background-color: rgb(157, 237, 181);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border-bottom: solid 3px black;
    border-top: solid 3px black;
    margin-bottom: 4rem;
}

.tab {
    padding: .25rem 3rem;
    font-size: 2.5rem;
    background-color: blueviolet;
    border: none;
    -webkit-text-stroke: 1px white;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.content {
    background-color: blueviolet;
    padding: 2rem;
}

.sub-header h1 {
    margin: 0px;
}

.card-info {
    font-size: 2rem;
    color: white;
    font-family: "QueensidesMedium", 'Times New Roman', Times, serif;
    text-align: center;
}

.img-container {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    padding: 1rem;
}

.photo {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 820px) {
    html {
        font-size: 16px;
    }

    main {
        display: flex;
        justify-content: center;      
    }

    .content {
        border-radius: 1rem;
        border: solid 3px black;
        padding: 3rem;
        width: min(650px, 50vw);
    }

    nav {
        gap: 3rem;
    }
}
